In [45]:
import pandas as pd
import numpy as np
import glob

Создать датафрейм самому

Создание из словаря

In [24]:
d = {
	'name' : ['a', 'b', 'c'],
	'color' : ['green', 'red', 'blue']
}

pd.DataFrame(d)

  name  color
0    a  green
1    b    red
2    c   blue

Создание из списка списков

In [25]:
a = [
		[1, 2, 3],
		[4, 5, 6],
		[7, 8, 9]
]

pd.DataFrame(a, columns = ['A', 'B', 'C'])

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Сравнение датафреймов

In [26]:
d = {
	'name' : ['a', 'b', 'c'],
	'color' : ['green', 'red', 'blue']
}

d1 = pd.DataFrame(d)
d2 = pd.DataFrame(d)

d1 == d2

   name  color
0  True   True
1  True   True
2  True   True

In [27]:
d1.equals(d2)

True

Берем случайный записи

In [28]:
df = pd.read_csv('data\data.csv', encoding='1251')

In [29]:
df.sample(3)

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,...,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
574,2022-08-11,19:07:22,2538,13002664,13,22589,Розничная реализация,15,268412,БИСЕПТОЛ 480МГ. №28 ТАБ. /АДАМЕД ФАРМА/,...,АДАМЕД КОНСЬЮМЕР ХЕЛСКЕА АО / ADAMED,1.0,89.12,108.0,5.0,9.0,2.000100e+11,50,1,2.0
65,2022-08-11,14:52:33,2203,2004598,2,22577,Розничная реализация,15,254247,"АКСАМОН 15МГ/МЛ. 1МЛ. №10 Р-Р Д/В/М,П/К АМП.",...,ЭЛЛАРА ООО,1.0,1559.37,2106.0,147.0,9.0,2.000100e+11,205,1,1.0
4199,2022-08-12,11:30:36,5544,18002542,18,9907,Розничная реализация,18,260841,АСКОРБИНКА ЛУНТИК ВИТ.С КЛУБНИКА №10 ТАБ. (30Г...,...,ФАРМ-ПРО,1.0,16.80,27.0,0.0,NaN,NaN,48,1,1.0

Соединение датафреймов

In [30]:
abc = pd.DataFrame({
	'name' : ['кабачок', 'помидор', 'огурец'],
	'abc' : ['A', 'A', 'C']
})

xyz = pd.DataFrame({
	'name_xyz' : ['кабачок', 'баклажан', 'огурец'],
	'xyz' : ['X', 'Y', 'Z']
})

In [31]:
abc_xyz = abc.merge(xyz, 
		  left_on = 'name',
		  right_on = 'name_xyz',
		  how = 'outer'
		  )

abc_xyz

      name  abc  name_xyz  xyz
0      NaN  NaN  баклажан    Y
1  кабачок    A   кабачок    X
2   огурец    C    огурец    Z
3  помидор    A       NaN  NaN

In [32]:
abc_xyz['name'] = np.where(abc_xyz['name'].isnull(), abc_xyz['name_xyz'], abc_xyz['name'])

abc_xyz

       name  abc  name_xyz  xyz
0  баклажан  NaN  баклажан    Y
1   кабачок    A   кабачок    X
2    огурец    C    огурец    Z
3   помидор    A       NaN  NaN

axis = 1 удаление по столбцам. По умолчанию удаление по строкам.

In [33]:
abc_xyz.drop('name_xyz', axis = 1)

       name  abc  xyz
0  баклажан  NaN    Y
1   кабачок    A    X
2    огурец    C    Z
3   помидор    A  NaN

Фильтрация столбцов

In [34]:
df.filter(like = 'ug', axis = 1)

      DR_CDrugs                                          DR_NDrugs
0         45399  ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...
1        261519            ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.
2        460864  СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...
3        172823  СОФЬЯ ГХК КРЕМ Д/ТЕЛА ХОНДРОИТИН+ГЛЮКОЗАМИН 12...
4         79056                   ГАЛВУС 50МГ. №28 ТАБ. /НОВАРТИС/
...         ...                                                ...
4457     463100  КЕТОРОЛ ЭКСПРЕСС 10МГ. №20 ТАБ. ДИСПЕРГ. /Д-Р ...
4458     112158                           АНТИПОЛИЦАЙ ВАЙТ №6 ТАБ.
4459     260990  СИЛДЕНАФИЛ-СЗ 50МГ. №10 ТАБ. П/П/О /СЕВЕРНАЯ З...
4460      41512                         ТОБРАЗОН 5МЛ. ГЛ.КАПЛИ ФЛ.
4461      25673  БЕЛЬВЕДЕР ЛАК П/ОБГРЫЗАНИЯ НОГТЕЙ 8МЛ. [BELWEDER]

[4462 rows x 2 columns]

Разбивание датафрейма и сохранение в файлы

In [38]:
shops = df['DR_Apt'].unique().tolist()
shops

[2, 7, 13, 15, 6, 17, 18, 11]

In [ ]:
for shop in shops:
	small_df = df[df['DR_Apt'] == shop]
	small_df.to_excel(f'extra/{shop}.xlsx', sheet_name = f'{shop}', index = False)

TypeError: NDFrame.to_excel() got an unexpected keyword argument 'encoding'

Прочитать файл excel

In [44]:
pd.read_excel('extra/2.xlsx')

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,...,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-11,10:15:35,2173,2004598,2,22577,Розничная реализация,18,45399,ЦИПРОЛЕТ 3МГ/МЛ. 5МЛ. №1 ГЛ.КАПЛИ ФЛ./КАП. /Д-...,...,Д-р Редди с Лабораторис Лтд / Dr.REDDY's,1.0,41.08,51.0,12.00,925.0,2.000000e+11,205,1,1
1,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,261519,ПЕРЕКИСЬ ВОДОРОДА 3% 100МЛ. №40 Р-Р ФЛ.,...,ФЛОРА КАВКАЗА ОАО,1.0,18.61,31.0,3.00,9.0,2.000100e+11,205,1,1
2,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,460864,СОФЬЯ ГЕЛЬ Д/НОГ ВЕНОТОНИЗ. ТРОКСЕРУТИН ФОРТЕ ...,...,КОРОЛЕВФАРМ ООО,1.0,132.69,209.0,20.00,9.0,2.000100e+11,205,1,2
3,2022-08-11,10:27:46,2174,2004598,2,22577,Розничная реализация,15,172823,СОФЬЯ ГХК КРЕМ Д/ТЕЛА ХОНДРОИТИН+ГЛЮКОЗАМИН 12...,...,КОРОЛЕВФАРМ ООО,1.0,133.65,210.0,21.00,9.0,2.000100e+11,205,1,3
4,2022-08-11,10:33:56,2175,2004598,2,22577,Розничная реализация,18,79056,ГАЛВУС 50МГ. №28 ТАБ. /НОВАРТИС/,...,Новартис Фарма АГ,1.0,709.95,787.0,49.00,925.0,2.000000e+11,205,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,2022-08-12,20:45:40,8489,2004621,2,22569,Розничная реализация,15,28345,АЛЬПИНА СПРИНЦОВКА ПВХ №7Б ТВЕРД.НАКОН. ПЛАСТИ...,...,АЛЬПИНА ПЛАСТ ООО,1.0,112.90,178.0,0.00,NaN,NaN,123,1,1
975,2022-08-12,20:45:40,8489,2004621,2,22569,Розничная реализация,15,490990,СИЛЬВЕР КАПИТАН БАТОНЧИК КОКОС ВАР.СГУЩ.+ЙОГУР...,...,ФАКЕЛ-ДИЗАЙН ООО,2.0,24.48,40.0,0.00,NaN,NaN,123,1,10
976,2022-08-12,20:45:40,8489,2004621,2,22569,Розничная реализация,15,337422,АСКОРБИНКА ВИТАМИН С 25МГ. ДЕТСК. 3Г. №10 ТАБ....,...,ФАРМГРУПП,1.0,8.41,14.0,0.00,NaN,NaN,123,1,2
977,2022-08-12,20:51:41,8490,2004621,2,22569,Розничная реализация,18,4146,ТОТЕМА 10МЛ. №20 Р-Р Д/ПРИЕМА ВНУТРЬ АМП.,...,Иннотера Шузи (INNOTERA),1.0,565.69,775.0,97.21,925.0,2.000000e+11,123,1,3
978,2022-08-12,20:51:41,8490,2004621,2,22569,Розничная реализация,18,14781,ГЕМАТОГЕН РУССКИЙ КОКОС В ГЛАЗУРИ 40Г. ПЛИТКА ...,...,ФАРМ-ПРО,1.0,14.44,24.0,3.01,925.0,2.000000e+11,123,1,2

Собрать в один датафрейм отельные файлы excel

In [47]:
glob.glob('extra/*.xlsx')

['extra\\11.xlsx',
 'extra\\13.xlsx',
 'extra\\15.xlsx',
 'extra\\17.xlsx',
 'extra\\18.xlsx',
 'extra\\2.xlsx',
 'extra\\6.xlsx',
 'extra\\7.xlsx']

In [51]:
files = glob.glob('extra/*.xlsx')
dfs = []

for file_name in files:
	small_df = pd.read_excel(file_name)
	dfs.append(small_df)

In [54]:
len(dfs)

8

In [57]:
df = pd.concat(dfs, ignore_index = True)
df

,DR_Dat,DR_Tim,DR_NChk,DR_NDoc,DR_Apt,DR_Kkm,DR_TDoc,DR_TPay,DR_CDrugs,DR_NDrugs,...,DR_Prod,DR_Kol,DR_CZak,DR_CRoz,DR_SDisc,DR_CDisc,DR_BCDisc,DR_TabEmpl,DR_VZak,DR_Pos
0,2022-08-11,09:00:45,4641,11007004,11,23925,Розничная реализация,18,436942,ВАЗЕЛИН 30Г. МАЗЬ Д/НАРУЖ.ПРИМ. ТУБА /ТУЛЬСКАЯ...,...,ТУЛЬСКАЯ ФАРМ. ФАБРИКА,1.0,25.04,39.00,0.0,NaN,NaN,30,1,1
1,2022-08-11,09:07:15,4642,11007004,11,23925,Розничная реализация,18,13414,"ИНТЕКС БИНТ ТРУБЧ. ЛАТЕКСНО-ПОЛИЭФ. 15Х3,0СМ. ...",...,ИНТЕРТЕКСТИЛЬ,1.0,11.90,20.00,0.0,NaN,NaN,30,1,2
2,2022-08-11,09:07:15,4642,11007004,11,23925,Розничная реализация,18,13413,"ИНТЕКС БИНТ ТРУБЧ. ЛАТЕКСНО-ПОЛИЭФ. 15Х2,5СМ. ...",...,ИНТЕРТЕКСТИЛЬ,1.0,9.93,17.00,0.0,NaN,NaN,30,1,1
3,2022-08-11,09:07:15,4642,11007004,11,23925,Розничная реализация,18,340098,СТРЕПТОЦИД 10Г. №1 ПОР. Д/НАРУЖ.ПРИМ. БАНКА ДО...,...,ЛЕКАРЬ ООО,1.0,74.40,106.00,0.0,NaN,NaN,30,1,6
4,2022-08-11,09:07:15,4642,11007004,11,23925,Розничная реализация,18,347235,"ХЛОРГЕКСИДИН 0,05% 100МЛ. №1 Р-Р Д/МЕСТ. И НАР...",...,ТУЛЬСКАЯ ФАРМ. ФАБРИКА,1.0,11.55,14.00,0.0,NaN,NaN,30,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,2022-08-11,19:17:41,4246,7002453,7,22553,Розничная реализация,15,32401,911-ГЕЛЬ-БАЛЬЗАМ Д/СУСТАВОВ САБЕЛЬНИК 100МЛ.,...,ПЕРИ КРИСТАЛ,1.0,65.12,104.00,0.0,NaN,NaN,605,1,1
4458,2022-08-11,19:28:54,4247,7002453,7,22553,Розничная реализация,18,7308,АМИКСИН 125МГ. №6 ТАБ. П/П/О /ОТИСИФАРМ/ФАРМСТ...,...,ФАРМСТАНДАРТ ЛЕКСРЕДСТВА ОАО,1.0,584.07,647.00,0.0,NaN,NaN,605,1,1
4459,2022-08-11,19:28:54,4247,7002453,7,22553,Розничная реализация,18,317240,"ВИТАМИН С 1200МГ. 3,8Г. №20 ШИП.ТАБ. ТУБА /ЭВА...",...,ЭВАЛАР,1.0,287.56,360.00,0.0,NaN,NaN,605,1,2
4460,2022-08-11,19:28:54,4247,7002453,7,22553,Розничная реализация,18,1504331,"Карта LOYALITY 0,01Р",...,ЭВАЛАР,1.0,0.01,0.01,0.0,NaN,NaN,605,1,3
4461,2022-08-11,19:29:48,4248,7002453,7,22553,Розничная реализация,18,345578,ПАРАЦЕТАМОЛ 500МГ. №20 ТАБ. /ФАРМСТАНДАРТ/,...,ФАРМСТАНДАРТ ЛЕКСРЕДСТВА ОАО,1.0,21.17,26.00,0.0,NaN,NaN,605,1,1

Пробегание по строкам датафрейма

In [62]:
for i, row in df.iterrows():
	print(f'Номер строки: {i}, дата: {row["DR_Dat"]}')
	if i == 10:
		break

Номер строки: 0, дата: 2022-08-11
Номер строки: 1, дата: 2022-08-11
Номер строки: 2, дата: 2022-08-11
Номер строки: 3, дата: 2022-08-11
Номер строки: 4, дата: 2022-08-11
Номер строки: 5, дата: 2022-08-11
Номер строки: 6, дата: 2022-08-11
Номер строки: 7, дата: 2022-08-11
Номер строки: 8, дата: 2022-08-11
Номер строки: 9, дата: 2022-08-11
Номер строки: 10, дата: 2022-08-11

In [64]:
for i, row in df.iterrows():
	s = f"insert into sales values ('{row['DR_Dat']}','{row['DR_Kol']})"
	print(s)
	if i == 10:
		break

insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)
insert into sales values ('2022-08-11','1.0)